html,
body {
  margin: 0;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  background: url("/public/image/background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}

.wrapper {
  /* background: #e0e0c8; */
  height: auto;
  max-width: 120rem;
  min-width: 80rem;
  margin: auto;
  box-sizing: border-box;
}

header {
  height: 30rem;
}

main {
  height: auto;
  padding: 4rem 0;
  box-sizing: border-box;
  min-height: 60rem;
  background-color: #e0e0c8dc;
  border-radius: 30px 30px 0 0;
}

footer {
  height: 20rem;
  background-color: #e0e0c8;
  border-radius: 0 0 30px 30px;
}

.common-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.common-btn:hover,
.common-btn:active {
  background-color: white;
  color: #120f07;
}
